body {
	overflow: hidden;
}

/*StatsNav*/
.ripplnav {
	height: 40px;
	top: 1rem;
	left: 1rem;
}

/*StatsBox*/
.statsbox {
	height: 20px;
	font-size: 30px;
}

/*StatsBody positioning*/
.statsbody {
	padding-left: 0.8rem;
	height: 86vh;
	overflow: scroll;
}

/*Overwrites title color of cards*/
.card-title.grey-text.text-darken-4 {
  color: #ffab40 !important
}

/*Spinner positioning*/
.spinner {
	position: relative;
	float: right;
	top: 1.15vh;
	left: 1vw;
}